<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Light Keys</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable/Disable</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>com.patrick.lightkeys</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>enable</string>
			<key>label</key>
			<string>Enabled</string>
			<key>default</key>
			<true/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>STYLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.patrick.lightkeys</string>
			<key>key</key>
			<string>Style</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Coming Soon</string>
				<string>Coming Soon</string>
				<string>Coming Soon</string>
			</array>
			<key>alignment</key>
			<string>4</string>
			<key>PostNotification</key>
			<string>com.patrick.lightkeys/ReloadPrefs</string>
		</dict>

		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Light Keys by Patrick and Mat</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>isStaticText</key>
			<true/>
		</dict>

	</array>
	<key>title</key>
	<string>Light Keys</string>
</dict>
</plist>
