Package: com.patrick.lightkeys
Name: Light Keys
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Patrick
Author: Patrick
Section: Tweaks
