Package: com.patrick.lightkeys
Name: Light Keys
Depends: preferenceloader, ws.hbang.common (>= 1.11)
Version: 1.0
Architecture: iphoneos-arm
Description: A simple tweak to use the built in light appearance for the stock iOS keyboard across the operating system.
Maintainer: Patrick
Author: Patrick
Section: Tweaks
Conflicts: com.gnos.bloard, com.patrick.darkkeysxii
